<div class="col-xs-12">
	<h1>Ideas to Brighten <%= @depressed.first_name %>'s Day</h1>
</div>
<div class="actions-options col-xs-12">
	<div class="messages">
		<h2>Send Her a Thoughtful Message</h2>
		<span class="glyphicon glyphicon-chevron-down"></span>
		<div class="action-content">
			<form class="form-horizontal">
				<div class="form-group  col-xs-12">
					<label class="col-xs-12 form-label">To: <%= @depressed.first_name %></label>
					<div class="col-xs-12">
						<textarea class="form-control" type="text" placeholder="Type your Facebook message here"></textarea>
					</div>
				</div>
				<div class=" col-xs-12">
					<button class="col-xs-11 btn btn-primary" style="margin-bottom: 20px">Send</button>
				</div>
			</form>
		</div>
		<div class="clearfix"></div>
	</div>

<div class="message-family">
		<h2>Share Your Concern With A Loved One</h2>
		<span class="glyphicon glyphicon-chevron-down"></span>
		<div class="action-content">
			<form class="form-horizontal">
				<div class="form-group  col-xs-12">
					<label class="col-xs-12 form-label">
						To: <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select from <%= @depressed.first_name %>'s family members<span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
					    <li><a href="#">Mom</a></li>
					    <li><a href="#">Dad</a></li>
					    <li><a href="#">Brother</a></li>
					</ul>
					</label>
					<div class="col-xs-12">
						<textarea class="form-control" type="text" placeholder="Type your message here"></textarea>
					</div>
				</div>
				<div class=" col-xs-12">
					<button class="col-xs-11 btn btn-primary" style="margin-bottom: 20px">Send</button>
				</div>
			</form>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="events">
		<h2>Plan an Event or Activity</h2>
		<span class="glyphicon glyphicon-chevron-down"></span>
		<div class="action-content">
			<p class="col-xs-12">We noticed that both Hannah and you are in New York City. Based on Hannah's interests, we found several upcoming activities that would be great to invite her to.</p>
			<div class="calendar-item col-xs-12">
				<div class="date col-xs-4">
					<p>Sept 21</p>
					<p>8:00pm</p>
				</div>
				<div class="event col-xs-8">
					<p>Ray Lamontagne Concert</p>
					<a href="#"><span class="glyphicon glyphicon-calendar"></span> Add to Calendar</a>
				</div>
			</div>
			<div class="calendar-item col-xs-12">
				<div class="date col-xs-4">
					<p>Sept 23</p>
					<p>10:00am</p>
				</div>
				<div class="event col-xs-8">
					<p>Women's Soccer Game</p>
					<a href="#"><span class="glyphicon glyphicon-calendar"></span> Add to Calendar</a>
				</div>
			</div>
			<div class="calendar-item col-xs-12">
				<div class="date col-xs-4">
					<p>Sept 26</p>
					<p>5:00am</p>
				</div>
				<div class="event col-xs-8">
					<p>Hiking Meetup: Poconos</p>
					<a href="#"><span class="glyphicon glyphicon-calendar"></span> Add to Calendar</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="products">
		<h2>Buy Her Something</h2>
		<span class="glyphicon glyphicon-chevron-down"></span>
		<div class="action-content">
			<p class="col-xs-12">We've selected products used to help treat depression. A UV lamp gives people some much-needed vitamin-D during the lonely winter months.</p>
			<%= image_tag("light.png", :alt => "Light",:class => "col-xs-12",:style => "max-width: 500px;") %>
			<%= image_tag("book.png", :alt => "Book",:class => "col-xs-12",:style => "max-width: 500px;") %>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="images">
		<h2>Send Upbeat Photos</h2>
		<span class="glyphicon glyphicon-chevron-down"></span>
		<div class="action-content">
			<p class="col-xs-12">Studies show pet photos can have a positive impact on someone's day. Select a cute puppy pic and send it to Hannah.</p>
			<%= image_tag("one_happy_puppy.jpg", :alt => "Puppy", :class => "col-xs-4") %>
			<%= image_tag("pp.jpeg", :alt => "Puppy 2", :class => "col-xs-4") %>
			<%= image_tag("pup.jpg", :alt => "Puppy 3", :class => "col-xs-4") %>
		</div>
		<div class="clearfix"></div>
	</div>


	<div class="reminders">
		<h2>Sign up for Future Tips and Reminders</h2>
		<span class="glyphicon glyphicon-chevron-down"></span>
		<div class="action-content">
			<p class="col-xs-12">Share your information so we can send more ideas so you can continue to help Hannah.</p>
			<form class="form-horizontal">
				<div class="form-group  col-xs-12">
					<label class="col-xs-12 form-label">Your Email</label>
					<div class="col-xs-12">
						<input class="form-control" type="text" placeholder="Email Address">
					</div>
				</div>
				<div class=" col-xs-12">
					<button class="col-xs-11 btn btn-primary" style="margin-bottom: 20px">Sign Up</button>
				</div>
			</form>
			<form class="form-horizontal">
				<div class="form-group  col-xs-12">
					<label class="col-xs-12 form-label">Phone Number</label>
					<div class="col-xs-12">
						<input class="form-control" type="text" placeholder="###-###-####">
					</div>
				</div>
				<div class=" col-xs-12">
					<button class="col-xs-11 btn btn-primary" style="margin-bottom: 20px">Sign Up</button>
				</div>
			</form>
		<div class="clearfix"></div>
		</div>
	</div>

</div>

<div class="next-step-container">
	<%= link_to "Next Step", resources_path, class: "next-step" %>
	<span class="glyphicon glyphicon-chevron-right"></span>
</div>